
  <div class="text_container">
    <div class="heading_container">
      <div class="genius-img-container">
          <%=  image_tag("thai.jpg", :alt => "Thai Cornelius", :class =>"genius-img genius-img-heading") %>
      </div>

    </div>
    <div id="title">Thai Cornelius</div>
    <p id="host">
    <br/>
    What Number Did Thai Choose:

  </p>
  </div>

  <div id="door_container">
    <div class="door">
      <%= link_to image_tag("num_3.png", :alt => "Number 3", :class =>"genius-img"), "/guess_results1" %>
    </div>
    <div class="door">
      <%= link_to image_tag("num_8.png", :alt => "Number 8", :class =>"genius-img"), "/guess_results2" %>
    </div>
    <div class="door">
      <%= link_to image_tag("num_10.png", :alt => "Number 10", :class =>"genius-img"), "/guess_results2" %>
    </div>
  </div>
