
  <div class="text_container">
    <div class="heading_container">
      <div class="genius-img-container">
          <%=  image_tag("quran.png", :alt => "Qur'An Smith", :class =>"genius-img genius-img-heading") %>
      </div>

    </div>
    <div id="title">Qur'An Smith</div>
    <p id="host">
    <br/>
    What Number Did Qur'An Choose:

  </p>
  </div>

  <div id="door_container">
    <div class="door">
      <%= link_to image_tag("num_2.png", :alt => "Number 2", :class =>"genius-img"), "/guess_results2" %>
    </div>
    <div class="door">
      <%= link_to image_tag("num_4.png", :alt => "Number 4", :class =>"genius-img"), "/guess_results2" %>
    </div>
    <div class="door">
      <%= link_to image_tag("num_6.png", :alt => "Number 6", :class =>"genius-img"), "/guess_results1" %>
    </div>
  </div>
