<header>
  <nav>
    <a href="about.html">About</a>
    <a href="mailto:jen.dewalt@gmail.com">Contact</a>
    <a href="https://github.com/jendewalt">GitHub</a>
  </nav>
</header>
<!-- End header -->

<div id="top_container">

  <a href="mailto:jen.dewalt@gmail.com">
    <%= image_tag("black_power.png", :alt => "rss feed", :id =>"logo") %>
  </a>


  <h1>Hello Everyone!</h1>

  <div id="info_container">
    <div>My name is David Malone and I am making </div>
    <div class="orange">Rich-3 OH Projects.</div>
    <div>You can follow the project here and on the
      <span>
        <a href="#">blog</a>
      </span>.</div>
  </div>

</div>

<div id="marquee_container">
  <div>Today's Website</div>
  <%= link_to 'Guess A Number', "guess" %>

</div>

<div id="website_list_container">
  <div>OH 2:
    <span>
    <!--  <%# <%= link_to 'Make A Deal', deals_pg1_path %> %>-->
      <%= link_to 'Guess A Number', "guess" %>
      <!-- <a href="make_a_deal.html">Make a Deal!</a> -->
    </span>
  </div>
  <div>OH 1:
    <span>
      <a href="#">Homepage</a></span>
  </div>
</div>
